DATA/H3K27ac_2iL_SL_union_IDR_0.03.bed.gz filter=lfs diff=lfs merge=lfs -text
DATA/Heatmap_data_H3K27me3_H3K9me3.Rds filter=lfs diff=lfs merge=lfs -text
DATA/Luciferase_WT_P53KO_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/NFR.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Danpos2_MNAse_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/GC_bias_STARRseq_and_ChIPseq.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/H3K9me3_H3K27me3_broad_peaks_P12_B5.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Heatmap_data_P53_C2_WT_Nocodazole_treated.Rds filter=lfs diff=lfs merge=lfs -text
DATA/Homer_Motifs_C1_DE_STARRseq_peaks.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Luciferase_WT_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/P53_ChIPseq_and_STARRseq.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Phantom5_TSS_classified_CAGE_peaks_mm9.bed.gz filter=lfs diff=lfs merge=lfs -text
DATA/C1_C2_C3_RND_classes_ERVs.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Zic3KO_RNAseq_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Zic3_RNAseq_vst_transformed.Rds filter=lfs diff=lfs merge=lfs -text
DATA/Zic3_RNAseq_vst_transformed_22May2020.Rds filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_C1_C2_C3.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/CpG_methylation_SL_DNMT_TKO_GSM1891661.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/RNAseq_Trp53_WT_and_KO.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Cistrome_H3K27ac_P53_C2.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/P53_OSN_1kb_flanked_SL.occ.bedgraph.gz filter=lfs diff=lfs merge=lfs -text
DATA/ZIC3_ChIP_and_STARRseq.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/scRNAseq_Zic3_WT_and_KO.Rds filter=lfs diff=lfs merge=lfs -text
DATA/Luciferase_WT_ZIC3KO_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/CpG_DNA_Methylation_q10_rmdup_counts_2iL_merged.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/CpG_DNA_Methylation_q10_rmdup_counts_SL_merged.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/ERVs_mm9_classified.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Promoters.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_OSN_RND_250bp.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_genome_cov.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/ATACseq_IDR_0.03_2iL_and_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Epistates.tsv filter=lfs diff=lfs merge=lfs -text
DATA/NRF1_motif_occurrences.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/EpiCSeg_5means.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/H3K27ac_iPSC_repgramming_Zviran_Chen_P15_B7.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Homer_motif_enrichment_C2_with_or_without_H3K9me3.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/Luciferase_WT_TCF3KO_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/NRF1_ChIPseq_WT_and_Dnmt3KO.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/RND_10_or_more_input_DNA_GC_matched.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_and_histone_modifications_log2_RPKM_6kb_50bp_bins.Rds filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_peaks_narrow_and_broad_marks.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/CpG_islands_mm9.bed.gz filter=lfs diff=lfs merge=lfs -text
DATA/Homer_motif_enrichment_C1_C2_C3.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/P53_Heatmap_data.Rds filter=lfs diff=lfs merge=lfs -text
DATA/P53_OSN_1kb_flanked_2iL.occ.bedgraph.gz filter=lfs diff=lfs merge=lfs -text
DATA/P53_OSN_RND.saf.gz filter=lfs diff=lfs merge=lfs -text
DATA/RNAseq_timeseries_2iL_SL.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_signif_and_RND_enrichment.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/STARRseq_subsampling_peakcounts.tsv.gz filter=lfs diff=lfs merge=lfs -text
DATA/C1_C2_C3_zoops.tsv.gz filter=lfs diff=lfs merge=lfs -text
